.callout {  background: #247;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, .1);
  max-width: 400px;
  color: #fff;
  padding: 15px;	
}

.callout img { 
  float: right;
  width: 100px;
  height: auto;
  margin: 0 0 10px 15px;
  border: 1px solid #000;
  padding: 3px;
  background-color: #bbb;
	
}

blockquote {
  margin-left: 0;
}

cite {
  text-align: right;
  display: block;
  font-style: italic;
  font-size: small;
  border-top: 1px dotted white;
  padding-top: 3px;
	
}
