.callout {  background: #1f3f7a;
  width: 400px;
  color: white;
  padding: 20px;
  position: relative	
}

.callout img { float: right;
  width: 140px;
  height: auto;
  margin-left: 10px;
  border: 4px solid #000
	
}

blockquote { border-left: 2px solid none;
    text-size-adjust: 100%;
  padding-left: 15px;
  margin-left: 0;
	
}

cite {text-align: right;
  display: block;
  font-style: italic;
  border-top: 1px dotted white;
  margin-top: 10px;
  padding-top: 6px;
	
}
